# NER and Sentiment

In this section we will work through applying basic sentiment analysis to our data using a pre-built *distilBERT* model from the **Flair** library. We will then use our organization labels captured through NER in the previous section to create a list of organizations with the highest and lowest average sentiment scores.

In [1]:
import pandas as pd
import flair

We initialize the English sentiment model `en-sentiment`:

In [2]:
model = flair.models.TextClassifier.load('en-sentiment')

2022-03-01 17:06:36,275 loading file /Users/adenevreze/.flair/models/sentiment-en-mix-distillbert_4.pt

For each sample there are a few steps we need to take to create the sentiment score. We need to tokenize the input text, make a prediction, extract the direction (*positive* or *negative*) and confidence (a score from 0 to 1). If this is new to you, we cover the Flair sentiment model in more depth in **TK insert link**.

The following function carries out each of these steps for a single extract:

In [7]:
def get_sentiment(text):
    # tokenize input text
    sentence = flair.data.Sentence(str(text))
    # make sentiment prediction
    model.predict(sentence)
    # extract sentiment direction and confidence (label and score) object
    sentiment = sentence.labels[0]
    return sentiment

We now need to load our previously processed dataframe (which includes the *organizations* column) and `apply` the `get_sentiment` function to the *selftext* column. These sentiment scores will then be stored in a new *sentiment* column.

In [4]:
# load data
df = pd.read_csv('./data/processed/reddit_investing_ner.csv', sep='|')
df.head()

,created_utc,downs,id,score,selftext,subreddit,title,ups,upvote_ratio,organizations
0,1.646144e+09,0.0,t3_t48xbu,1.0,My 9yr old wants to invest his 300$ so he can ...,investing,Investment options for children?,1.0,1.00,[]
1,1.646130e+09,0.0,t3_t44pro,597.0,"Again, the world's major chip and semiconducto...",investing,Ukraine supplies 70% of the world's neon. Chip...,597.0,0.95,[]
2,1.646129e+09,0.0,t3_t44j5g,2.0,Have a general question? Want to offer some c...,investing,Daily General Discussion and Advice Thread - M...,2.0,0.76,[]
3,1.646091e+09,0.0,t3_t3t1i6,15.0,Can someone explain how/why something like the...,investing,How would the RSX get Delisted?,15.0,0.77,"['ADR', 'E-Trade', 'RSX']"
4,1.646075e+09,0.0,t3_t3n3cz,0.0,Many years ago I had money put in DODBX for me...,investing,trying to figure DODBX out,0.0,0.14,[]

In [8]:
# get sentiment
df['sentiment'] = df['selftext'].apply(get_sentiment)
df.head()

,created_utc,downs,id,score,selftext,subreddit,title,ups,upvote_ratio,organizations,sentiment
0,1.646144e+09,0.0,t3_t48xbu,1.0,My 9yr old wants to invest his 300$ so he can ...,investing,Investment options for children?,1.0,1.00,[],NEGATIVE (1.0)
1,1.646130e+09,0.0,t3_t44pro,597.0,"Again, the world's major chip and semiconducto...",investing,Ukraine supplies 70% of the world's neon. Chip...,597.0,0.95,[],NEGATIVE (0.996)
2,1.646129e+09,0.0,t3_t44j5g,2.0,Have a general question? Want to offer some c...,investing,Daily General Discussion and Advice Thread - M...,2.0,0.76,[],NEGATIVE (0.9993)
3,1.646091e+09,0.0,t3_t3t1i6,15.0,Can someone explain how/why something like the...,investing,How would the RSX get Delisted?,15.0,0.77,"['ADR', 'E-Trade', 'RSX']",NEGATIVE (1.0)
4,1.646075e+09,0.0,t3_t3n3cz,0.0,Many years ago I had money put in DODBX for me...,investing,trying to figure DODBX out,0.0,0.14,[],POSITIVE (0.9874)

Now we need to extract each of the organizations alongside it's sentiment score. We will then loop through each, tallying up a total sentiment score and count.

Before we do that, we need to convert each value in the *organizations* column to a list (they are currently strings because we cannot save Python lists to file within Pandas dataframes, they are automatically converted to strings).

In [9]:
import ast

df['organizations'] = df['organizations'].apply(lambda x: ast.literal_eval(x))

In [10]:
# initialize sentiment dictionary
sentiment = {}

# loop through dataframe and extract org labels and sentiment scores into sentiment dictionary
for i, row in df.iterrows():
    # extract sentiment direction and score
    direction = row['sentiment'].value
    score = row['sentiment'].score
    # loop through each label in organizations column
    for org in row['organizations']:
        # check if org label exists in sentiment dictionary already
        if org not in sentiment.keys():
            # if it doesn't, initialize new entry in dictionary
            sentiment[org] = {'POSITIVE': [], 'NEGATIVE': []}
        # append positive/negative score to respective dictionary entry
        sentiment[org][direction].append(score)

In [11]:
sentiment['ARK']

{'POSITIVE': [], 'NEGATIVE': [0.6586734652519226, 0.9972949624061584]}

Now we can loop through each organization entry in the sentiment dictionary and calculate an average positive, and average negative score:

In [12]:
# initialize sentiment list
avg_sentiment = []

# loop through each organization
for org in sentiment.keys():
    # get number of positive and negative ratings
    freq = len(sentiment[org]['POSITIVE']) + len(sentiment[org]['NEGATIVE'])
    for direction in ['POSITIVE', 'NEGATIVE']:
        # assign to variable for cleaner code
        score = sentiment[org][direction]
        # if there are no entries, set to 0
        if len(score) == 0:
            sentiment[org][direction] = 0.0
        else:
            # otherwise calculate total
            sentiment[org][direction] = sum(score)
    # now calculate total amount
    total = sentiment[org]['POSITIVE'] - sentiment[org]['NEGATIVE']
    # and the average score
    avg = total/freq
    # add to sentiment list
    avg_sentiment.append({
        'entity': org,
        'positive': sentiment[org]['POSITIVE'],
        'negative': sentiment[org]['NEGATIVE'],
        'frequency': freq,
        'score': avg
    })

In [13]:
sentiment_df = pd.DataFrame(avg_sentiment)
sentiment_df.head()

               entity  positive  negative  frequency     score
0                 ADR  0.984114  1.997665          3 -0.337851
1             E-Trade  0.000000  0.999951          1 -0.999951
2                 RSX  0.000000  0.999951          1 -0.999951
3               Gydan  0.000000  0.999728          1 -0.999728
4  The Board of Shell  0.000000  0.999728          1 -0.999728

Immediately we can see we have a lot of entities which have appeared once in our dataset, and because of this their score will be pushed to one extreme or the other. We can filter out anything with less than or equal to a frequency of `3` to remove many of these instances:

In [14]:
sentiment_df = sentiment_df[sentiment_df['frequency'] > 3]
sentiment_df

                  entity  positive   negative  frequency     score
15                   EPS  0.000000  14.876996         16 -0.929812
19                    EU  0.954517   8.853503         10 -0.789899
27                   SPY  0.645001  12.492278         14 -0.846234
48                   Fed  1.397995  29.483101         32 -0.877660
50                   FED  0.000000   7.906444          8 -0.988306
52                NASDAQ  0.977827   9.859250         11 -0.807402
57                   QQQ  1.599753   3.977915          6 -0.396360
58                   VTI  0.000000   5.166603          6 -0.861100
61              Fidelity  2.863389  15.738858         19 -0.677656
69                    PE  0.000000   7.623611          8 -0.952951
80                  AAPL  0.000000   4.691132          5 -0.938226
83             Refinitiv  0.000000   5.701489          6 -0.950248
84                Nasdaq  0.834558   6.986287          8 -0.768966
85                 Apple  3.404489  10.645748         15 -0.482751
91                  ROTH  1.160482   3.920535          6 -0.460009
97              Vanguard  2.794468   7.964769         12 -0.430858
115                  ATH  0.822457   7.391699          9 -0.729916
131                   EM  0.000000   3.999713          4 -0.999928
135              YouTube  0.999981   4.752685          6 -0.625451
144                 CNBC  1.901296   6.640800          9 -0.526612
177               Amazon  3.390341  14.147992         19 -0.566192
181                 Ford  1.891464   2.499279          5 -0.121563
183                Tesla  2.816353   4.629613          8 -0.226658
209          Cathie Wood  0.000000   3.629126          4 -0.907281
222                  VOO  0.645001   5.496314          7 -0.693045
235                   AI  0.563329   2.618715          4 -0.513846
250             Treasury  0.000000   8.826155          9 -0.980684
269                  AMD  0.652229   3.686753          5 -0.606905
271                 MSFT  0.000000   4.535669          5 -0.907134
272                 NVDA  0.000000   4.820848          5 -0.964170
274                 TIPS  0.000000   3.996445          4 -0.999111
283                 Visa  0.996748   2.944920          4 -0.487043
313                  FCF  0.986283   4.987841          6 -0.666926
318              Omicron  0.000000   4.703275          5 -0.940655
336                 Meta  0.000000   4.969158          5 -0.993832
359                  DCA  0.000000   4.632446          5 -0.926489
389            Microsoft  3.479545   9.858380         14 -0.455631
391                   GM  0.896031   3.499277          5 -0.520649
393           Healthcare  0.000000   4.986539          5 -0.997308
396                 ETFs  0.939055   5.966338          7 -0.718183
401                  YoY  0.000000   4.357141          5 -0.871428
460                 AMZN  0.000000   4.728056          5 -0.945611
463                  IRS  0.000000   6.845245          7 -0.977892
479               Google  1.891552   6.729774          9 -0.537580
485                  AMC  0.000000   5.602434          6 -0.933739
528                LEAPS  0.000000   3.588185          4 -0.897046
548  Interactive Brokers  0.942446   2.960019          4 -0.504393

Here we have some more relevant information. We can see a few items that we can remove through the `BLACKLIST` covered in earlier sections such as *Fed* and *Treasury*, but nonetheless this list is looking much better than before. We can apply `sort` to search for the entities with the highest overall score:

In [15]:
sentiment_df.sort_values('score', ascending=False).head(10)

                  entity  positive   negative  frequency     score
181                 Ford  1.891464   2.499279          5 -0.121563
183                Tesla  2.816353   4.629613          8 -0.226658
57                   QQQ  1.599753   3.977915          6 -0.396360
97              Vanguard  2.794468   7.964769         12 -0.430858
389            Microsoft  3.479545   9.858380         14 -0.455631
91                  ROTH  1.160482   3.920535          6 -0.460009
85                 Apple  3.404489  10.645748         15 -0.482751
283                 Visa  0.996748   2.944920          4 -0.487043
548  Interactive Brokers  0.942446   2.960019          4 -0.504393
235                   AI  0.563329   2.618715          4 -0.513846

Very quickly we've got our results that we have pulled together using simple, ready-to-use models, and **zero** text preprocessing. With further fine-tuning, and process development, these already good results can become great. Which we will cover soon.